/*
Notice how you are also able to specify different browser behaviour using the prefixes:

-o- for Presto based (Opera -NB: deprecated, moved to Webkit based)
-moz- for Gecko based (Firefox)
-webkit- for Webkit based (Chrome/Safari)
Note: if you have multiple css files, the order in which you include them in the html file matters as they are "cascading" and will override.
*/

html { 
    background: url("http://www.publicdomainpictures.net/pictures/170000/velka/grunge-background-14635619239LT.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body #page-container {
    text-align: center;
    width: auto;
    margin: 10px;
    
}
body #sidePanel{
    width: auto;
   text-align: center;
}
body #output{
    text-align: left;
    padding: 20px;
    color: sandybrown;
}
body{
    color: white;
    background-color: transparent;  
}

form#searchByTitle{
    margin-top: 20%;
    text-align: left;
    margin-bottom: 20%;
}
.well{
    margin: 25px;
    background-color:rgba(0, 0, 0, 0.5);
}

.well span{
    color: white;
}

h2 #page-header {
    padding-top:20px;
    padding-bottom:20px;
}
legend{
    color: sandybrown;
}
label{
    color: sandybrown;
    padding: 5px;
}
input{
     color: black;
}
/*-----------Makes side panel more interactive------------ */
/*input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

input[type=number] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=number]:focus {
    width: 100%;
}*/
/*----------------------------------------------------------*/
select#plot{
    color: black;
    width: 130px;
    padding: 5px;
    margin-bottom: 10px;
}