/*
Notice how you are also able to specify different browser behaviour using the prefixes:

-o- for Presto based (Opera -NB: deprecated, moved to Webkit based)
-moz- for Gecko based (Firefox)
-webkit- for Webkit based (Chrome/Safari)
Note: if you have multiple css files, the order in which you include them in the html file matters as they are "cascading" and will override.
*/

html { 
    background: url("http://www.publicdomainpictures.net/pictures/170000/velka/grunge-background-14635619239LT.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    color: white;
    background-color: transparent;  
}

#toutput {
    width: 60%;
    margin-left: 20%; 
    
}
h2#page-header {
    padding-top:20px;
    padding-bottom:20px;
}

body #page-container {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 40px;
}

.btn-wrapper {
    padding: 20px 0;
}


h1#textarea {
    font-size:84px;
}